.note {
    display: inline-block;
    padding-top: 0.16em;
    padding-right: 0.56em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #fff;
    vertical-align: middle;
    border-radius: 8px;
}

.note-purple {
    background-color: purple;
}

.note-blue {
    background-color: blue;
}

.note-orange {
    background-color: orangered;
}

.note-red {
    background-color: red;
}