.note {
    padding-top: 0.16em;
    padding-right: 0.56em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    vertical-align: middle;
    border-radius: 4px;
    border-left: 5px solid;
    width: 100%;
}

.note-note {
    background-color: #9E237B20;
    border-color: #9E237B;
}

.note-info {
    background-color: #009ADE20;
    border-color: #009ADE;
}

.note-warn {
    background-color: #FF573320;
    border-color: #FF5733;
}

.note-danger {
    background-color: #DC354520;
    border-color: #DC3545;
}

.seperator {
    border-top: solid 1px;
    border-color: $grey-dk-200;
    padding-top: 2px;
}

.lang-list {
    text-align: right;
    margin-right: 2em;
}

footer.site-footer::after {
    content: "Customised by Vantibyte.";
}
