.note {
    display: inline-block;
    padding-top: 0.16em;
    padding-right: 0.56em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #fff;
    vertical-align: middle;
    border-radius: 8px;
}

.note-note {
    background-color: #9E237B;
}

.note-info {
    background-color: #009ADE;
}

.note-warn {
    background-color: #FF5733;
}

.note-danger {
    background-color: #DC3545;
}

.seperator {
    border-top: solid 1px;
    border-color: $grey-dk-200;
    padding-top: 2px;
}

.lang-list {
    text-align: right;
    margin-right: 2em;
}